html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
	background: url("https://steamstore-a.akamaihd.net/public/images/v6/colored_body_top2.png?v=2");
	background-repeat:no-repeat;
	background-color:#1b2838;
	color:#FFFFFF;
	font-family:"Motiva Sans", Sans-serif;
	font-size:14px;
	overflow-y:scroll; 
	position: relative;
	margin: 0;
	padding-bottom: 100px;
	min-height: 100%;
	font-family: "Helvetica Neue", Arial, sans-serif;
	min-width:320px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
	text-decoration: none;
    color: #66c0f4;
}

a.nohover:hover {
	text-decoration: none;
}



h1{
	font-size: 24px;
	font-family: "Motiva Sans", Sans-serif;
	font-weight: 300;
	font-weight: normal;
	color: #fff;
}

#head{
	width:100%;
	height:100px;
	background-color:#171a21;
}


#head #logo{
	height:80px;
}

#head h1{
	
}

.position{
	margin:0px auto;
	padding:10px;
	width:900px;
}

.content{
	margin:0px auto;
	padding:10px;
}

.contentBox{
	background-color:rgba(0,0,0,0.2);
	margin:0px auto;
	width:800px;
	margin-top:50px;
	padding-bottom:20px;
}

.contentBox h1{
	background-color:#0197cf;
	font-family: "Motiva Sans", Sans-serif;
	font-weight: 300;
	font-size: 17px;
	line-height: 31px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-left:5px;
}

.rightBox{
	float:right;
}



/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}